.wrapper {
    position: relative;
    width: 70%;
    margin: auto;
    padding: 1em;
    transform: translate(0, 0);
    transition: all 0.5s ease;
}

.frontPage {
    position: absolute;
    left: 27.5%;
    top: 0;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    z-index: 2;
    aspect-ratio: 2 / 3;
    background: #dedede;
    width: 45%;
    background: red;
    transform: rotateY(0deg);
    transform-origin: left;
    transition: all 2s ease;
}

.insidePage {
    position: absolute;
    right: 27.5%;
    top: 0;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    z-index: 1;
    aspect-ratio: 2 / 3;
    background: #dedede;
    width: 45%;
    background: blue;
    transition: all 2s ease;
}

.open .frontPage {
    left: 50%;
    transform: rotateY(180deg);
}

.open .insidePage {
    right: 5%;
}