.wrapper {
    position: relative;
    width: 70%;
    margin: auto;
    padding: 1em;
    transform: translate(0, 0);
    transition: all 0.5s ease;
}

.page {
    position: absolute;
    top: 0;
    width: 45%;
    aspect-ratio: 2 / 3;
    transition: all 2s ease;
    background: #dedede;
    padding: 3em;
}

.close {
    position: absolute;
    top: 0;
    right: -1em;
    width: 1em;
    height: 1em;
    background: red;
}

.close::before {
    content: 'x';
    color: #fff;
    font-weight: 300;
    font-family: Arial, sans-serif;
  }

.frontPage {
    left: 27.5%;

    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    z-index: 3;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transform-origin: left;
    backface-visibility: hidden;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);

}

.backPage {
    left: 27.5%;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    z-index: 2;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transform-origin: left;
    transition: all 2s ease;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
}

.insidePage {
    right: 27.5%;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    z-index: 1;
}

.open .frontPage, .open .backPage {
    left: 50%;
    transform: rotateY(180deg);
}

.open .insidePage {
    right: 5%;
}