.wrapper {
    --envolope-width: 300px;
    --envolope-height: 200px;
    --envolope-rounded-border: 0.5em;

    --envolope-width-half: calc(var(--envolope-width) / 2);
    --envolope-height-half: calc(var(--envolope-height) / 2);

    position: relative;
    transform-style: preserve-3d;
    cursor: pointer;
}

.face {
    background: #ff8789;
    width: var(--envolope-width);
    height: var(--envolope-height);
    border-bottom-left-radius: var(--envolope-rounded-border);
    border-bottom-right-radius: var(--envolope-rounded-border);
}

.contents {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    top: 0;
}

.face::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    border-left: var(--envolope-width-half) solid transparent; /* half of the width */
    border-right: var(--envolope-width-half) solid #ff393c; /* half of the width */
    border-top: var(--envolope-height-half) solid transparent; /* half of the height */
    border-bottom: var(--envolope-height-half) solid #ff393c; /* half of the height */
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    z-index: 4;
}

.face::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    border-left: var(--envolope-width-half) solid #ff5355; /* half of the width */
    border-right: var(--envolope-width-half) solid transparent; /* half of the width */
    border-top: var(--envolope-height-half) solid transparent; /* half of the height */
    border-bottom: var(--envolope-height-half) solid #ff393c; /* half of the height */
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    z-index: 5;
}

.seal {
    position: absolute;
    top: 0;
    left: 0;
    border-left: var(--envolope-width-half) solid transparent;
    border-right: var(--envolope-width-half) solid transparent; /* half of the width */
    border-top: var(--envolope-height-half) solid #ff8789; /* half of the height */
    border-bottom: var(--envolope-height-half) solid transparent; /* half of the height */
    z-index: 6;
    transform-origin: top;
    transform: rotateX(0deg);
    transition: all 0.5s 0.5s ease;
    
}

.mailOpen .seal {
    transform: rotateX(180deg);
    transition: all 0.5s ease;
    z-index: 2;
}
